html {
  font-family: "gesta", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  background-color: #fafafa; }

body,
select,
input,
textarea {
  color: #000;
  color: rgba(0, 0, 0, 0.9);
  font-family: "gesta", sans-serif;
  font-weight: 400;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f6f9;
  background: linear-gradient(-227deg, #fff 20%, #f1f6f9 59%, #c8ff3a 0%);
  background: -moz-linear-gradient(-227deg, #fff 20%, #f1f6f9 60%, #c8ff3a 60%, #a4e400);
  overflow: hidden; }

h1, h2, h3, h4 {
  color: #000; }

#card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100%;
  text-align: center;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d; }
  #card .intro-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 400px;
    height: 200px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.65);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 5px;
    margin: auto;
    pointer-events: none;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    box-shadow: 0 0 60px 1px rgba(0, 0, 0, 0.1);
    border: none; }
    #card .intro-block h1 {
      width: 100%;
      line-height: 1;
      font-family: "jaf-domus", sans-serif;
      font-weight: 700;
      font-size: 64px;
      letter-spacing: 5px;
      margin: 5% 0 0;
      -webkit-transform: translateZ(100px);
              transform: translateZ(100px); }
    #card .intro-block h3 {
      font-family: "gesta", sans-serif;
      font-size: 16px;
      text-transform: capitalize;
      padding-top: 5%;
      border-top: 1px solid #DDD;
      -webkit-transform: translateZ(50px);
              transform: translateZ(50px); }

#brand-mark {
  position: fixed;
  top: 5%;
  right: 5%; }
  #brand-mark a {
    display: inline-block;
    font-size: 16px;
    color: #000;
    vertical-align: middle;
    text-decoration: none;
    font-weight: 700; }
    #brand-mark a img {
      display: inline-block;
      vertical-align: middle;
      width: 20px; }

#job-links {
  position: fixed;
  bottom: 10%;
  right: 47%;
  padding: 0.5% 1%;
  background: #000;
  border-radius: 4px;
  box-shadow: 0 0 0 3px #fff; }
  #job-links .container {
    text-align: center; }
    #job-links .container .btn-reveal {
      text-decoration: none;
      color: #FFF;
      font-weight: 700;
      font-size: 16px; }

.modalDialog {
  position: fixed;
  font-family: "gesta", sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  transition: opacity 400ms ease-in;
  pointer-events: none;
  overflow: scroll; }
  .modalDialog:target {
    opacity: 1;
    pointer-events: auto; }
  .modalDialog .modal-content {
    width: 80%;
    position: relative;
    margin: 10% auto;
    padding: 1.5% 2%;
    border-radius: 6px;
    background: #FFF; }
    .modalDialog .modal-content h3 {
      margin-bottom: 0; }
    .modalDialog .modal-content p {
      margin-top: 0; }
    .modalDialog .modal-content ul {
      margin-top: 0; }
    .modalDialog .modal-content a {
      text-decoration: none;
      padding: 3px 6px;
      margin-left: 3px;
      background: #000;
      color: #ffffff;
      border-radius: 5px; }
  .modalDialog .close {
    color: #000;
    font-size: 20px;
    position: absolute;
    right: 2.25%;
    text-align: center;
    text-decoration: none;
    font-weight: 700; }
    .modalDialog .close:hover {
      color: #c8ff3a; }

* {
  box-sizing: border-box; }

/*# sourceMappingURL=style.css.map */
