html {
    font-family: $body-font-family;
    font-size: $body-font-size;
    font-weight: $body-font-weight;
    position: relative;
    background-color: $background-color;
}

body,
select,
input,
textarea {
    color: $font-color-fallback;
    color: $font-color;
    font-family: $body-font-family;
    font-weight: $body-font-weight;
    font-size: $body-font-size;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #8BC6EC;
    background: -webkit-gradient( linear, left top, left bottom, color-stop( 50%, #FAFAFA ), color-stop( 50%, #FF0 ), color-stop( 50%, #FE0000 ) );
    overflow: hidden;

}

h1, h2, h3, h4 {color: #000;}

#app {
    perspective: 1000px;
    transform-style: preserve-3d;
    display: flex;
    height: 100vh;
    width: 100%;
    text-align: center;

    .intro-block {
        pointer-events: none;
        transform: translateZ(0);
        padding: 30px;
        background: white;
        border-radius: 5px;
        width: 400px;
        height: 200px;
        margin: auto;
        transform-style: preserve-3d;
        backface-visibility: hidden;
        display: flex;
        box-shadow: 0 0 5px rgba(0,0,0,.1);
        position: relative;
        flex-wrap: wrap;
        border: 1px solid red;
          
        &:after {
            content:" ";
            position: absolute;
            width: 100%;
            height: 10px;
            border-radius: 50%;
            left:0;
            bottom:-50px;
            box-shadow: 0 30px 20px rgba(0,0,0,.3);
        }

        h1 {
            width: 100%;
            line-height: 1;
            font-family: $header-font-family;
            font-weight: $header-font-weight;
            font-size: 64px;
            margin: 5% 0 6%;
            padding-bottom: 10px;
            transform: translateZ(100px);
        }
    }
}

#brand-mark {
    position: fixed;
    top: 5%;
    right: 5%;

    a {
        display: inline-block;
        font-size: 16px;
        color: #000;
        vertical-align: middle;
        text-decoration: none;
        font-weight: 700;

        img {
            display: inline-block;
            vertical-align: middle;
            width: 20px;
        }
    }
}

* {
    box-sizing: border-box;
}